.group { display: inline-flex; align-items: stretch; }
.group > button { position: relative; }
.group > button:not(:first-child) { margin-inline-start: calc(var(--border-width-thin) * -1); }
.group > button:not(:first-child):not(:last-child) { border-radius: 0; }
.group > button:first-child:not(:last-child) { border-start-end-radius: 0; border-end-end-radius: 0; }
.group > button:last-child:not(:first-child) { border-start-start-radius: 0; border-end-start-radius: 0; }
.group > button:hover,
.group > button:focus-visible { z-index: 1; }
